<!DOCTYPE html>
<html>
	<head>
        <title>Skeleton Fortress - {{ title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="game,skeleton,fortress,skeleton fortress,16 bit,retro,social{{#keywords}},{{keywords}}{{/keywords}}"/>
        <meta name="description" content="{{#description}}{{description}}{{/description}}{{^description}}Record and share short videos with anyone you want, quick and easy!{{/description}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="google-site-verification" content="EqYhJtGE-2cOgS5VSkOh-M1KEKJeo3f3SsqwjhDAMqc" />
        <link rel="shortcut icon" href="/public/favicon.ico"/>
        <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500,700,500italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/public/css/styles.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/tiles.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/objects.css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	</head>
	<body>
		{{>header}}

        {{{yield}}}

        {{>footer}}

        <script type="text/javascript" src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
        <script type="text/javascript" src="/templates.js"></script>
        <script type="text/javascript" src="/public/js/map.js"></script>

        {{>analytics}}
	</body>
</html>